html,
body {
  margin: 0;
  padding: 0;
  background-color: #eef0f4;
}

::placeholder {
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

#cat-img {
  width: 150px;
  margin-bottom: 10px;
}

input,
button {
  text-align: center;
  font-size: 16px;
  width: 240px;
  height: 40px;
  margin-bottom: 8px;
  border-style: none;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
}

#input-field {
  color: #432000;
  background-color: #dce1eb;
}

#add-button {
  color: rgba(253, 253, 253, 0.8);
  background-color: #ac485a;
}

#add-button:active {
  background-color: #ac485a;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

ul {
}

ul li {
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
}
